body {
    background: #050D16;
    padding: 0; 
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
}

.container-fluid ul li a {
    padding: 20px 20px 10px 20px !important;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #0ff4ff;
    font-size: 20px;
    border-bottom: #0ff4ff 1px solid;
    border-bottom-width: 2px;
}

.dropdown-menu {
    padding: 3px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #050D16;
}

.main-content {
    padding: 0 45px 0 45px;
    background-color: #050D16;
}

.scroll-text {
    color: white;
    font-size: 12.5px;
    font-family: Futura-Medium;
    letter-spacing: 1px;
}

.scroll-text-bottom {
    color: white;
    font-size: 12.5px;
    font-family: Futura-Medium;
    letter-spacing: 1px;
}

.flex-container-one {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.welcome-msg {
    color: #ffffff;
    letter-spacing: 5px;
    font-size: 96px;
    z-index: 1;
    line-height: 110px;
}

.centered-img-box {
    border: 1px solid #5d5d5d;
    border-radius: 50%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-left: -7%;
}

.centered-img-box-one-b {
    border: 1px solid #5d5d5d;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-left: -3.8%;
}

.project-one-img {
    padding: 70px;
    width: 390px;
}

.project-one-b-img {
    padding: 40px;
    width: 420px;
}

.project-one-txt {
    color: white;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    position: absolute;
    top: 50%;
    display: flex;
    left: 85%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: GillSans;
    letter-spacing: 4.4px;
    display: flex;
    justify-content: flex-start;
}

.radio-outer-circle {
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    float: inline-end;
    margin-left: -30px;
    display: flex;

}

.radio-inner-circle {
    background: #0ff4ff;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    justify-content: center;
}

.play-btn,
.play-btn-two {
    padding-left: 40px;
}

.right-side-arc {
    background-color: transparent;
    border-top: 2px solid #5d5d5d;
    /* border-width: 2px; */
    border-top-left-radius: 100%;
    width: 358px;
    height: 432px;
    transform: rotate(14deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-side-arc-page-one-b {
    background-color: transparent;
    border-bottom: 2px solid #5d5d5d;
    /* border-width: 2px; */
    border-bottom-left-radius: 100%;
    width: 230px;
    height: 432px;
    transform: rotate(-76deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left-arc-pageTwo {
    background-color: transparent;
    border-top: 0.5px solid #5d5d5d;
    /* border-width: 2px; */
    border-top-left-radius: 100%;
    width: 245px;
    height: 428px;
    transform: rotate(96deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0
}

.left-arc-pageOne-b {
    background-color: transparent;
    border-top: 3px solid #5d5d5d;
    /* border-width: 2px; */
    border-top-left-radius: 100%;
    width: 72px;
    height: 428px;
    transform: rotate(96deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0
}

.right-side-arc-pageTwo {
    background-color: transparent;
    border-bottom: 2px solid #5d5d5d;
    /* border-width: 2px; */
    border-bottom-left-radius: 100%;
    width: 300px;
    height: 432px;
    transform: rotate(-92deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -100px;
}

.progress-container {
    width: 100%;
    height: 5px;
    background: #050D16;
}

.progress-bar {
    height: 5px;
    background-image: linear-gradient(#111, #0ff4ff, #111);
    width: 0%;
}

/* pae-1-b */
.page-two-caption {
    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: white;
    font-size: 50px;
    opacity: .7;
    z-index: 1;
}

/* page 2 */
.centered-img-box-two {
    border: 1px solid #5d5d5d;
    padding: 30px 20px 30px 5px;
}

.centered-img-box-two ul li a {
    color: white;
    font-size: 50px;
    letter-spacing: 4.46px;
    text-decoration: none;
    opacity: .5;
    cursor: pointer;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.centered-img-box-two ul li a.active,
.centered-img-box-two ul li a:hover {
    color: white;
    opacity: 1;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.centered-img-box-two ul {
    margin: 0;
    padding: 0;
}

.centered-img-box-two ul li {
    list-style: none
}

.click-more-txt {
    font-family: Futura-Medium;
    font-size: 12px;
    letter-spacing: 1.07px;
}

.sticky-footer {
    position: fixed;
    bottom: 1px;
    background-color: white;
    width: 100%;
}

/* page 3 */
#page_work2,
#page2,
#page3,
#page4,
#page5 {
    background-color: #050D16;
}

.centered-img-box-three {
    border: 1px solid #5d5d5d;
    border-radius: 50%;
    padding: 52px;
}

.internal-circle {
    border-radius: 50%;
    border: 1px solid white;
    padding: 185px;
    height: 100%;
    position: relative;
}

.centered-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-left-logo {
    position: absolute;
    top: 42%;
    left: -50px;
}

.center-right-logo {
    position: absolute;
    top: 41%;
    right: -50px;
}

.center-top-logo {
    position: absolute;
    left: 36%;
    top: -26px;
}

.center-bottom-logo {
    position: absolute;
    left: 35%;
    bottom: -22px;
}

/* page 4 */
.flex-container-four {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.centered-img-box-four {
    max-width: 350px;
    border: 1px solid #5d5d5d;
    padding: 25px;
}

.right-side-arc-pageFour {
    background-color: transparent;
    border-bottom: 2px solid #5d5d5d;
    /* border-width: 2px; */
    border-bottom-left-radius: 100%;
    width: 200px;
    height: 735px;
    transform: rotate(-92deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -100px;
}

.left-arc-pageFour {
    background-color: transparent;
    border-top: 0.5px solid #5d5d5d;
    /* border-width: 2px; */
    border-top-left-radius: 100%;
    width: 390px;
    height: 428px;
    transform: rotate(96deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0
}

.centered-img-box-four p {
    color: #9a9a9a;
    font-size: 14px;
    letter-spacing: .94px;
    margin-top: 20px;
}

.centered-img-box-four a {
    color: grey;
    font-size: 16px;
    opacity: .85;
    margin-bottom: 5px;
    border-bottom: 1px solid #0FF4FF;
    text-decoration: none;
    cursor: pointer;
}

.centered-img-box-four a:hover {
    color: grey;
    opacity: 1;
}

.know-more-text {
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
    font-size: 10px;
    letter-spacing: 2.14px;
    padding-bottom: 5px;
}

/* page 5 */
.flex-container-five {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.centered-img-box-five {
    padding: 25px;
    max-width: 400px;
    min-width: 310px;
}

.right-side-arc-pageFive {
    background-color: transparent;
    border-bottom: 2px solid #5d5d5d;
    /* border-width: 2px; */
    border-bottom-left-radius: 100%;
    width: 200px;
    height: 735px;
    transform: rotate(-92deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -100px;
}

.left-arc-pageFive {
    background-color: transparent;
    border-top: 0.5px solid #5d5d5d;
    /* border-width: 2px; */
    border-top-left-radius: 100%;
    width: 390px;
    height: 428px;
    transform: rotate(96deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0
}

.form-group {
    margin-bottom: 45px;
}

.form-control {
    border: 0 !important;
    border-bottom: 1px solid #285d98 !important;
}

label {
    color: white;
    font-family: Futura-Medium;
    letter-spacing: 1.2px;
    font-size: 16px;
    padding-left: 13px;
}

.custom-input {
    color: white;
    font-family: Futura-Medium;
    letter-spacing: 2.2px;
    font-size: 25px;
}

#page5 input {
    background-color: transparent;
}

#page5 input:active,
#page5 input:focus {
    background-color: transparent;
    border: .5px solid white !important;
}

.input-radio {
    float: right;
    margin-top: -35px;
}

.send-button {
    color: white;
    font-size: 35px;
    border: none;
    background: transparent;
    padding-left: 10px;
    margin-right: 25px;
    vertical-align: middle;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

::placeholder {
    color: #1E252C;
    font-size: 50px;
}

.lang-one {
    display: flex;
    justify-content: flex-end;
    background-color: #050D16;
    color: white;
    font-size: 16px;
    padding: 0 10px 10px 0;
    cursor: pointer;
    opacity: 1;
}

.lang-two {
    color: grey;
    padding-left: 6px;
    color: white;
    opacity: .6;
}

.lang-one:hover,
.lang-two:hover {
    opacity: 1;
}

#page1,
#page2,
#page3,
#page4,
#page5 {
    height: auto;
}

.navbar-toggler {
    background-color: transparent;
    border: 1px solid #0FF4FF !important;
}

/* media css */
@media(max-width:825px) {
    .welcome-msg {
        font-size: 55px;
        line-height: 75px;
    }

    #page_work1 {
        margin-top: 100px;
    }
}

@media(max-width:575px) {
    .mobile-nav {
        align-items: baseline;
    }
}

@media(max-width:1150px) {

    .right-side-arc,
    .right-side-arc-page-one-b,
    .left-arc-pageOne-b,
    .left-arc-pageTwo,
    .left-arc-pageTwo,
    .right-side-arc-pageTwo,
    .right-side-arc-pageFour,
    .left-arc-pageFour,
    .right-side-arc-pageFive,
    .left-arc-pageFive {
        display: none;
    }
}

@media(min-width:1900px) {

    .scroll-text,
    .play-btn-two,
    .click-more-txt {
        display: none;
    }
}

@media(max-width:575px) {
    .mobile-nav {
        background: black
    }

    .welcome-msg {
        font-size: 33px;
        line-height: 45px;
    }

    .right-side-arc,
    .right-side-arc-page-one-b,
    .left-arc-pageOne-b,
    .left-arc-pageTwo,
    .left-arc-pageTwo,
    .right-side-arc-pageTwo,
    .right-side-arc-pageFour,
    .left-arc-pageFour,
    .right-side-arc-pageFive,
    .left-arc-pageFive,
    .scroll-text,
    .play-btn-two,
    .click-more-txt {
        display: none;
    }

    .centered-img-box {
        /* border: 1px solid #5d5d5d; */
        /* border-radius: 50%; */
        justify-content: flex-start;
        align-items: center;
        position: relative;
        border: none;
    }

    .project-one-txt {
        color: white;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        position: absolute;
        top: 50%;
        display: flex;
        left: 51%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-family: GillSans;
        letter-spacing: 4.4px;
        display: flex;
        justify-content: flex-start;
    }

    .page-two-caption {
        color: black;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-size: 30px;
        margin-top: 5vh;
    }

    .centered-img-box-one-b,
    .centered-img-box-two {
        border: none !important;
    }

    .project-one-b-img {
        width: 300px;
    }

    .centered-img-box-three {
        padding: 0;
    }

    .internal-circle {
        padding: 135px;
    }

    .flex-container-one {
        height: 80vh;
    }

    .progress-container {
        width: 100%;
        height: 5px;
        background: #050D16;
    }

    .progress-bar {
        height: 5px;
        background-image: linear-gradient(#111, #0ff4ff, #111);
        width: 0%;
    }

    ::placeholder {
        color: #1E252C;
        font-size: 35px;
    }
}

/* scroll css */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track:hover {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid #0FF4FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0FF4FF;
    border: 1px solid #0FF4FF;
}